<div *ngIf="error; then thenErrorBlock else elseErrorBlock"></div>

<ng-template #thenErrorBlock>
    Mamy błąd pobierania danych
</ng-template>

<ng-template #elseErrorBlock>
    <div *ngIf="orders; then thenBlock else elseBlock"></div>
</ng-template>

<ng-template #thenBlock>
    {{emptyArray}}
    <!-- Napis że brak danych do wyświetlenia jak jest pusta tablica -->
    <div style="background-color: rgb(207, 216, 233); border-radius: 15px; padding: 15px;margin: 15px 0;" *ngFor="let order of orders">
        Numer sprawy: <b>{{order.internalCaseNumber}}</b> <br>
        Zewnętrzny numer sprawy: <b>{{order.externalCaseNumber}}</b> <br>
        Dane klienta/klientów: <b>{{order.clientsData}}</b><br>
        Podstawienie: <b>{{order.deliveryDate}}, {{order.deliveryTime}}, {{order.deliveryAddress}}</b><br>
        Zwrot: <b>{{order.returnDate}}, {{order.returnTime}}, {{order.returnAddress}}</b><br>
        <a routerLink="./{{order.id}}">Pokaż szczegóły zlecenia</a><br>
        <a routerLink="/rentals/new?orderId={{order.id}}">Realizuj</a><br>
        <a routerLink="./{{order.id}}/edit">Edytuj</a><br>
        <a routerLink="./cancelled?orderId={{order.id}}"><span style="color: orange;">Anulacja</span></a> /
        <a routerLink="./cancelled/delete?orderId={{order.id}}"><span style="color: orange;">Cofnij anulacje</span></a><br>
        <button (click)="deleteOrderById(order.id)"><span style="color: red;">Usuń ( akceptacja kierownika )</span></button>
    </div>
</ng-template>

<ng-template #elseBlock>
    Trwa ładowanie danych
</ng-template>