<div style="background-color: rgb(207, 216, 233); border-radius: 15px; padding: 15px;margin: 15px 0;">
    Id: 1 <br>
    Wewnętrzny numer zlecenia: CF230307000001 <br>
    Zewnętrzny numer zlecenia: ZA230307000021 <br>
    Dane klienta/klientów: Stefan Wymyślony, Stefania Wymyślona<br>
    Podstawienie: 07.03.2023, 15:00, ul. Zupełnie Inna 49, 59-635 Miastko, Polska<br>
    Zwrot: 17.03.2023, 15:00, ul. Zupełnie Inna 49, 59-635 Miastko, Polska<br>
    <a routerLink="./1">Pokaż szczegóły zlecenia</a><br>
    <a routerLink="/rentals/new?orderId=1">Realizuj</a><br>
    <a routerLink="./1/edit">Edytuj</a><br>
    <a routerLink="./cancelled?orderId=1"><span style="color: orange;">Anulacja</span></a> /
    <a routerLink="./cancelled/delete?orderId=1"><span style="color: orange;">Cofnij anulacje</span></a><br>
    <a routerLink="#"><span style="color: red;">Usuń ( akceptacja kierownika )</span></a>
</div>